// This file is empty within the template
// You can use it to override CSS from within your project

h2 ~ ul > li {
  padding: 5px 0;
}

.slider{
  position:relative;
  & h1{
    position:absolute;
    left: 5%;
    bottom: 10%;
    display: block;
    text-align: left;
    background: rgba(255,255,255,.8);
  }
}
