// This file is empty within the template
// You can use it to override CSS from within your project

h2 ~ ul > li {
  padding: 5px 0;
}

.slide {
  position:relative;
  
  h2 {
    margin: 0;
  }
  
  h2 > span {
    position:absolute;
    left: 5%;
    bottom: 10%;
    display: inline;
    box-decoration-break: clone;
    text-align: left;
    color: $white;
    text-shadow: 2px 2px $black;
    padding: 5px;
  }
}

.img-fluid.fill-height {
    top: -70px;
    position: relative;
    margin-bottom: -140px;
    @include mobile {
      margin-bottom: -70px;
    }
}
