// Color Variables
$primary-color: #5F787B;
$text-color: #5F787B;
$text-color-dark: #222;
$body-color: #fff;
$border-color: #E7E4E3;
$black: #262b2b;
$white: #fff;
$light: #E7E4E3;

// Font Variables
$primary-font: 'Isotok Web', sans-serif;
$font-hosting: 'google'; // From where to include Lato from: [google|local|none]
$icon-font: 'themify';
