// Color Variables
$primary-color: #1E5F7F;
$text-color: #777;
$text-color-dark: #222;
$body-color: #fff;
$border-color: #ECECEC;
$black: #000;
$white: #fff;
$light: #EFF3F6;

// Font Variables
$primary-font: 'Isotok Web', sans-serif;
$font-hosting: 'google'; // From where to include Lato from: [google|local|none]
$icon-font: 'themify';
