// Color Variables
$primary-color: #b67929;
$text-color: #264b77;
$text-color-dark: #00243f;
$body-color: #fff;
$border-color: #a3acb1;
$black: #262b2b;
$white: #fff;
$light: #f6e8d5;

// Font Variables
$primary-font: 'Isotok Web', sans-serif;
$font-hosting: 'google'; // From where to include Lato from: [google|local|none]
$icon-font: 'themify';
